*{
    box-sizing: border-box;
}

body{
    overflow-x:hidden ;
}

img{
    max-width: 100%;
    height: auto;
}


body{
    font-family:"Plus Jakarta Sans",sans-serif !important;
    display: flex;
    flex-direction:column ;
    min-height:100vh ;
}

.container{
    flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-links{
    text-decoration: none;
}

/* card effect */
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-img{
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.btns{
   display: flex; 
   gap: 1rem;
   flex-wrap: wrap;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* media queries */

/* tablet */
@media(max-width:768px){

    .navbar{
        height: auto;
    }
     .show-img{
        max-height: 300px;
    }

    .btns{
        justify-content: center;
    }

    .f-info{
        height: auto;
        padding: 1rem 0;
    }
}

/* Mobile */
@media (max-width: 576px) {

    .listing-card{
        margin-bottom: 1.5rem;
    }

    .card-img-top{
        height: 200px;
    }

    .btns{
        flex-direction: column;
        align-items: stretch;
    }

    .add-btn,
    .edit-btn{
        width: 100%;
    }
}

